h1 {
    font-family: serif;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.game-grid {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-card {
    min-width: 300px;
    max-width: 350px;
}